# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.csv
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
# Track DVC files but ignore actual data
/data/**/*
!/data/**/*.dvc
!/data/**/
!/data/.gitkeep

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Hydracore cache
outputs/

# wandb logs
wandb/

# Other log checkpoints?
mlops/

# models
model_gru_FR.pth
model_lstm_FR.pth
model_gru_DE.pth
model_lstm_DE.pth
model_gru_BE.pth
model_lstm_BE.pth
model_gru_NP.pth
model_lstm_NP.pth
model_gru_PJM.pth
model_lstm_PJM.pth
training_statistics_gru_FR.png
training_statistics_lstm_FR.png
training_statistics_gru_DE.png
training_statistics_lstm_DE.png
training_statistics_gru_BE.png
training_statistics_lstm_BE.png
training_statistics_gru_NP.png
training_statistics_lstm_NP.png
training_statistics_gru_PJM.png
training_statistics_lstm_PJM.png
model_gru_FR.ckpt
model_lstm_FR.ckpt
model_gru_DE.ckpt
model_lstm_DE.ckpt
model_gru_BE.ckpt
model_lstm_BE.ckpt
model_gru_NP.ckpt
model_lstm_NP.ckpt
model_gru_PJM.ckpt
model_lstm_PJM.ckpt
